[commit]
	gpgsign = true

[gpg]
  format = ssh

[color]
	ui = auto

[alias]
	st = status
	co = checkout
	lp = log -p
	p = push
	c = commit -S -m
[user]
	signingKey = 
	name = Raphael O.
	email = raphael.ob@protonmail.com
[safe]
	directory = /usr/local/poudriere/ports/default
