[commit]
	gpgsign = true
	template = ~/.gitmessage

[color]
	ui = auto

[core]
	pager = less
	ignorecase = false
	editor = vim

[alias]
	st = status
	co = checkout
	lp = log -p
	p = push
	c = commit -S -m

[user]
	email = raphael.ob@protonmail.com
	name = Raphael O.

[pull]
	rebase = true
	
[gpg]
	format = ssh